@import url("normalize.css");
*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

div{
    margin: 0 auto;
    /* position: relative; */
}
#nav{
    width: 100%;
    line-height: 44px;
    margin: 0 auto;    
    background-color: #323233;    
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
    padding: 0 22px;
    position: relative;
    z-index: 3;    
}
ul{    
    display: flex;
    justify-content: center;
}
ul .ac-gn-item{    
    /* align-items: center; */
    /* justify-content: center;     */
    box-sizing: content-box;
    font-size: 1em;    
    font-weight: 400;
    letter-spacing: -.01em;
    color: #D6D6D6;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 30px;    
    opacity: 0.8;      
    white-space: nowrap;    
}
a{    
    color: #CDCDCD;
    text-decoration: none;
}
i{
    font-size: 20px;
}
.item-desc{
    text-align: center;
}
.headline{
    z-index: 3;
    color:"#f5f5f7";
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
h2{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subhead{
    color:"#f5f5f7";
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;    
    margin-top: 6px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
p, h3{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.price{
    margin-top: 0.4em;
    color: #86868b;
}
.highlight{
    /* position: relative; */
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;    
    margin-top: .6em;
}
.link-highlight{
    color: #2997ff;
}




.item-image-wrapper{
    z-index: 1;
    display: flex;
    overflow: visible;
    max-width: 100%;
    height: auto;
    flex-grow: 1;
    position: absolute;
    display: block;
    /* top: 0;
    left: 0; */
    height: 100%; 
    width: 100%; 
}

.unit-image-iphone-11-pro-hero{
    width: 2560px;    
    height: 624px;
    background-size: 2560px 624px;
    background-repeat: no-repeat;
    background-image: url(test01.jpg);
    z-index: 1;
    align-items: center;
    display: block;
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    left: calc(50% + 0px);
    right: auto;
    bottom: 0px;
    top: auto;
    transform: translatex(-50%);
}
    /* left: calc(50% + 0px); */
    /* right: auto;    
    top: auto; */
    
   
    /* display: flex; */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    transform: translatex(-50%); */
}   